.card {
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    margin-bottom: 24px;
}

.table {
    th {
        font-weight: 600;
        background-color: #f8f9fa;
        border-bottom-width: 1px;
    }
    
    td {
        vertical-align: middle;
        padding: 0.75rem 0.75rem;
    }
}

.form-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.ng-select.is-invalid .ng-select-container {
    border-color: #f46a6a; 
}
